{% extends 'base.html' %}
{%block tile%}
Login page
{%endblock%}
{% block content%}

    <div class="page-center">
    
    <div class="login-container">
        <h2>Login</h2>

        <form method="post">
            {% csrf_token %}

            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>

            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button type="submit">Login</button>

            <p class="register-link">
                Don’t have an account?
                <a href="#">Register</a>
            </p>
        </form>
    </div>
    </div>
    
    {% endblock %}


