body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ccbcbc;
}

/* Navbar */
.navbar {
  background: #44474b;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;
}

.navbar a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: bold;
}

/* Main Content */
.container {
  text-align: center;
  margin-top: 80px;
}

.container h1 {
  color: #333;
}

.container p {
  color: #555;
}

.btn {
  display: inline-block;
  margin: 10px;
  padding: 12px 20px;
  background: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

.btn.login {
  background: #007bff;
}

.box {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: #fff;
  border-radius: 6px;
}
input {
  width: 80%;
  padding: 10px;
  margin: 8px 0;
}
button {
  width: 90%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
