{% extends 'base.html' %}


{% block title %}
Change Password
{% endblock title %}


{% block content %}


<div class="bg-white w-full max-w-md p-6 rounded-lg shadow">

    <h2 class="text-xl font-bold text-center mb-6">
        Change Password
    </h2>

    <form method="POST">
        {% csrf_token %}

        <!-- Old Password -->
        <div class="mb-4">
            <label class="block text-gray-600 mb-1">Old Password</label>
            <input type="password" placeholder="Enter old password" name="old_password"
                class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- New Password -->
        <div class="mb-4">
            <label class="block text-gray-600 mb-1">New Password</label>
            <input type="password" placeholder="Enter new password" name="new_password"
                class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- Confirm Password -->
        <div class="mb-6">
            <label class="block text-gray-600 mb-1">Confirm New Password</label>
            <input type="password" placeholder="Confirm new password" name="confirm_password"
                class="w-full px-4 py-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-500">
        </div>

        <!-- Submit Button -->
        <button type="submit" class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700 transition">
            Update Password
        </button>

    </form>

</div>



{% endblock content %}