{% extends 'base.html' %}

{% block title%}

Add Student

{% endblock title%}


{% block content%}

 <section id="add-student" class="form-section" >
        <h2>Add Student</h2>
        <form class="student-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            
            <label>Student Name</label>
            <input type="text" placeholder="Enter student name" name="name" required>

            <label>Student ID</label>
            <input type="text" placeholder="Enter student ID" name="student_id">

            <label>Email</label>
            <input type="email" placeholder="Enter mail" name="email">

            <label>Upload Image</label>
            <input type="file" accept="image/*" name="image" required>

            <button type="submit" class="btn">Add Student</button>
        </form>
    </section>

{% endblock content %}