 <header class="bg-black shadow-md">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center py-4">
        
        <!-- Logo -->
        <div class="flex-shrink-0">
          <a href="#" class="text-2xl font-bold text-white">MyLogo</a>
        </div>

        <!-- Desktop Navbar -->
        <nav class="hidden md:flex space-x-6">
          <a href="{% url 'home' %}" class="text-white-700 text-white">Home</a>
          <a href="{% url 'log' %}" class="text-white-700 text-white">Login</a>
          <a href="{% url 'reg' %}" class="text-white-700 text-white">Register</a>
          <a href="{% url 'dash' %}" class="text-white-700 text-white">Dashboard</a>
        </nav>
    </header>